<app-header></app-header>

<img class ="img-fluid mx-auto d-block" src="/assets/img/bariloche.jpg" alt="">
<div class="container-fluid">
<p>
  San Carlos de Bariloche, conocida simplemente como Bariloche, es una ciudad argentina que, con 125.000 habitantes
  (2020), es la más poblada de la provincia de Río Negro, siendo además la capital del departamento Bariloche.</p>

<p>Bariloche es el destino más visitado de la Patagonia y uno de los destinos más visitados de la Argentina. Recibe
  alrededor de dos millones de turistas anualmente, principalmente en temporada invernal, entre los que se destacan por
  su afluencia los provenientes de países de Europa y América. Es conocida por ser el destino principal del viaje de
  egresados secundarios en Argentina y Uruguay.</p>

<p>Es la ciudad argentina más poblada de los Andes Patagónicos. Está ubicada en el parque nacional Nahuel Huapi, en el
suroeste de la provincia de Río Negro, junto a la cordillera de los Andes, en la ribera sur del lago Nahuel Huapi, a 832
km de Viedma, la capital de la provincia.</p>

<p>Sus reservas naturales, que incluyen lagos, bosques y montañas, y sus destacados centros de esquí son el principal
atractivo. La ciudad ha sido considerada por algunas fuentes como el segundo destino de esquí a nivel mundial y el más
grande de América del Sur.​ Cuenta además con las aves más grandes del Mundo.</p>

<p>Bariloche es además uno de los polos científicos y tecnológicos más importantes de América, donde se encuentran el
Centro Atómico Bariloche de investigación, perteneciente a la Comisión Nacional de Energía Atómica, y el Instituto
Balseiro, de la Universidad Nacional de Cuyo, donde se dicta la carrera de Física, Ingeniería Mecánica y Nuclear e
Ingeniería en Telecomunicaciones. La ciudad es sede de INVAP, empresa argentina de alta tecnología que diseña y
construye reactores nucleares, radares y satélites, entre otros.</p>

<p>En noviembre de 2012 Bariloche fue nombrada «capital nacional del turismo aventura» bajo la Ley 26802 sancionada por el
Congreso Nacional Argentino.</p>
</div>
<app-footer></app-footer>
