<app-header></app-header>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis cumque sunt possimus earum laborum, in iste nam
  autem dolores dignissimos id expedita quod vitae. Beatae ducimus earum cum neque quis?
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis rerum itaque, accusantium eligendi expedita quibusdam qui molestiae voluptatibus, quidem, labore debitis. Ipsa quibusdam tempore, vitae distinctio quaerat est assumenda? Dolorum.
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, nihil beatae corporis sequi molestias consectetur id dignissimos dolorum voluptatum amet? Dolore reiciendis vero perferendis eveniet aperiam delectus placeat adipisci numquam?
</p>
<app-footer></app-footer>
