<h1>Destinos turísticos</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <app-card titulo="Bariloche" imagen="/assets/img/bariloche.jpg"
        texto="San Carlos de Bariloche (comúnmente llamada Bariloche) es una ciudad en la región de la Patagonia argentina. Limita con Nahuel Huapi, un gran lago glacial rodeado de montañas de los Andes. Bariloche es conocida por su arquitectura al estilo alpino de Suiza y su chocolate, que se vende en tiendas de la calle Mitre, la avenida principal. ">
      </app-card>
    </div>
    <div class="col">
      <app-card titulo="Mendoza" imagen="/assets/img/mendoza.jpg"
        texto="Mendoza es una ciudad de la región de Cuyo en Argentina y es el corazón de la zona vitivinícola argentina, famosa por sus Malbecs y otros vinos tintos. Sus distintas bodegas ofrecen degustaciones y visitas guiadas. La ciudad tiene calles amplias y frondosas rodeadas de edificios modernos y art déco, y con plazas más pequeñas que rodean la Plaza Independencia, sitio del Museo Municipal de Arte Moderno subterráneo, que exhibe arte moderno y contemporáneo">
      </app-card>
    </div>
    <div class="col">
      <app-card titulo="Ushuaia" imagen="/assets/img/ushuaia.jpg"
        texto="Ushuaia es una ciudad turística de Argentina. Se ubica en el archipiélago de Tierra del Fuego, el extremo austral de Sudamérica, apodado el Fin del Mundo. Esta ciudad con mucho viento, ubicada en una escarpada colina, está rodeada de los montes Martial y el canal Beagle. Es una vía de acceso a los cruceros hacia la Antártida y a los recorridos cerca de la Isla Yécapasela, conocida como la Isla Pingüino por sus colonias de esta especie.">
      </app-card>
    </div>
  </div>
</div>
