<footer class="footer">

    <div>
        <ul style="list-style: none;">

            <li>
                <p class="footerTitulo">Email</p>
            </li>
            <li><i class="fas fa-envelope"></i> unmail@gmail.com</li>

            <li>
                <p class="footerTitulo">Dirección</p>
            </li>
            <li> <i class="fas fa-map-marker-alt"></i> Ciudad Autónoma de Buenos Aires</li>


            <li>
                <p class="footerTitulo">Teléfono</p>
            </li>
            <li><i class="fas fa-phone"></i> (011)-1122334455</li>

        </ul>

    </div>

    <div class="contenedorRedes">
        <p class="footerTitulo">Redes sociales</p>
    </div>

</footer>